@using Qweree.WebApplication.Infrastructure.Notes
@inject NoteService _noteService

<div class="my-6 mx-6">
    @foreach (var note in _notes)
    {
        <div class="pl-4 my-2">
            <div class="note">
                <MudLink @onclick="() => DeleteAsync(note)" Color="Color.Error" Class="cursor-pointer mx-2">X</MudLink>
                @note.CreatedAt: @note.Text
            </div>
        </div>

        <MudDivider />
    }
    <div>
        <MudInput @bind-Value="_addNoteInput" Style="width: 100%"  T="string" Placeholder="Add new note" Variant="Variant.Filled" FullWidth="true" />
        <MudButton Color="Color.Primary" Variant="Variant.Text" OnClick="AddNoteAsync">Add note</MudButton>
        <MudText Typo="Typo.body2">* Only you can see these notes.</MudText>
    </div>
</div>

@code {
    private readonly List<NoteDto> _notes = new();
    private string _addNoteInput = string.Empty;

    [Parameter]
    public string? Entity { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await RefreshNotesAsync();
    }

    private async Task RefreshNotesAsync()
    {
        _notes.Clear();
        var collection = await _noteService.GetMyNotesAsync(Entity!);
        _notes.AddRange(collection.Notes ?? Array.Empty<NoteDto>());
    }

    private async Task AddNoteAsync()
    {
        var newNote = new NoteDto
        {
            Id = Guid.NewGuid(),
            Text = _addNoteInput,
            CreatedAt = DateTime.UtcNow
        };
        _notes.Add(newNote);

        var success = await _noteService.SetMyNotesAsync(Entity!, _notes);

        if (success)
            _addNoteInput = string.Empty;
    }

    private async Task DeleteAsync(NoteDto note)
    {
        _notes.Remove(note);
        await _noteService.SetMyNotesAsync(Entity!, _notes);
    }

}