@page "/forbidden"
@using Qweree.WebApplication.Infrastructure.Authentication
@inject ClaimsPrincipalStorage Session
@inject NavigationManager NavigationManager

<h3>Forbidden</h3>
<p>You don't have access to this resource. Go <NavLink href="/">home</NavLink>.</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        var user = await Session.GetIdentityAsync();
        if (user is null)
            NavigationManager.NavigateTo("/login");
    }

}