<div>
  <mat-card *ngIf="user">
    <mat-card-title>
      {{ user.username }} <span class="id">{{ user.id }}</span>
    </mat-card-title>
    <mat-card-content>
      <section class="user-info-container">
        <div>
          <span class="title">Full name:</span> {{ user.fullName ? user.fullName : '***' }}
        </div>
        <div>
          <span class="title">Email:</span> {{ user.email ? user.email : '***' }}
        </div>
        <div>
          <span class="title">Creation time:</span> {{ user.createdAt | date:'d/M/y HH:mm:ss' }}
        </div>
        <div>
          <span class="title">Last modification time:</span> {{ user.modifiedAt | date:'d/M/y HH:mm:ss' }}
        </div>
      </section>
    </mat-card-content>
  </mat-card>
</div>
