<div class="mat-typography app-frame mat-app-background">
  <mat-drawer-container>
    <mat-drawer mode="side" opened class="nav-container">
      <mat-nav-list>
        <h2>
          <span class="logo-q">Q</span>weree
        </h2>
        <a href="/" class="menu-link {{ this.router.url === '/' ? 'active' : '' }}">
          Dashboard
        </a>
        <a href="/cdn" class="menu-link {{ this.router.url === '/cdn' ? 'active' : '' }}">
          Cdn
        </a>
        <a href="#" (click)="signOut()" class="menu-link">
          Sign out
        </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
