@import "./src/styles";
$nav-menu-background: #343434;

mat-drawer-container {
  height: 100%;
}
.nav-container {
  width: 300px;
  background-color: $nav-menu-background;
}
.app-content {
  margin: 20px 20px;
}
mat-nav-list {
  padding-top: 40px;
}
mat-nav-list h2 {
  padding-left: 10px;
  color: mat-color($QAdmin-primary, text);
}
.menu-link {
  font-size: 16px;
  padding: 12px 0 12px 30px;
  display: block;
  color: mat-color($QAdmin-theme, text);
  text-decoration: none;
}
.menu-link.active {
  background-color: lighten($nav-menu-background, 5%);
}
.menu-link:hover {
  background-color: lighten($nav-menu-background, 10%);
}
.logo-q {
  color: mat-color($QAdmin-primary, text);
}
