<div class="mat-typography app-frame mat-app-background">
  <mat-drawer-container>
    <mat-drawer mode="side" opened class="nav-container">
      <mat-nav-list>
        <h2>
          <span class="logo-q">Q</span>weree
        </h2>
        <app-link href="/">
          <div class="menu-link">
            Dashboard
          </div>
        </app-link>
        <app-link href="/cdn">
          <div class="menu-link">
            Cdn
          </div>
        </app-link>
        <app-link href="/cdn/explorer">
          <div class="menu-link menu-sublink">
            Storage Explorer
          </div>
        </app-link>
        <a href="#" (click)="signOut(); $event.preventDefault();">
          <div class="menu-link">
            Sign Out
          </div>
        </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
