mat-drawer-container {
  height: 100%;
}
.nav-container {
  width: 200px;
}
.app-content {
  margin: 20px 20px;
}
mat-nav-list {
  padding-top: 40px;
}
.menu-link {
  font-size: 18px;
  padding: 4px 0 4px 30px;
}
.menu-link a {
  color: white;
  text-decoration: none;
}
