<div class="mat-typography app-frame mat-app-background">
  <mat-drawer-container>
    <mat-drawer mode="side" opened class="nav-container">
      <mat-nav-list>
        <h2>
          <span class="logo-q">Q</span>weree
        </h2>
        <app-link href="/">
          <div class="menu-link {{ this.router.url === '/' ? 'active' : '' }}">
            Dashboard
          </div>
        </app-link>
        <app-link href="/cdn">
          <div class="menu-link {{ this.router.url === '/cdn' ? 'active' : '' }}">
            Cdn service
          </div>
        </app-link>
        <app-link href="/cdn/explorer">
          <div class="menu-link menu-sublink {{ this.router.url.startsWith('/cdn/explorer') ? 'active' : '' }}">
            Storage Explorer
          </div>
        </app-link>
        <app-link href="/cdn/import">
          <div class="menu-link menu-sublink {{ this.router.url === '/cdn/import' ? 'active' : '' }}">
            Storage Import
          </div>
        </app-link>
        <app-link href="/auth">
          <div class="menu-link {{ this.router.url === '/auth' ? 'active' : '' }}">
            Authentication service
          </div>
        </app-link>
        <app-link href="/auth/users/create">
          <div class="menu-link menu-sublink {{ this.router.url === '/auth/users/create' ? 'active' : '' }}">
            Create user
          </div>
        </app-link>
        <app-link href="/auth/users">
          <div class="menu-link menu-sublink {{ this.router.url === '/auth/users' ? 'active' : '' }}">
            Users
          </div>
        </app-link>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div class="top-panel">
        <div class="current-user-box" (click)="this.profileMenuVisible = !this.profileMenuVisible">
          <div>
          <span class="material-icons">
            account_circle
          </span>
            <span class="username">
            {{ username }}
          </span>
          </div>
          <div>
            <div class="profile-menu" [class.visible]="this.profileMenuVisible === true">
              <app-link class="profile-menu-item" href="/profile">
                <span>Profile</span>
              </app-link>
              <app-link class="profile-menu-item" (click)="signOut()">
                <span>Sign out</span>
              </app-link>
            </div>
          </div>
        </div>
      </div>
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>>
