@import "./src/styles";
$nav-menu-background: #343434;

mat-drawer-container {
  height: 100%;
}
.nav-container {
  width: 300px;
  background-color: $nav-menu-background;
}
.app-content {
  margin: 20px 20px;
}
mat-nav-list {
  padding-top: 40px;
}
mat-nav-list h2 {
  padding-left: 30px;
  color: mat-color($QAdmin-primary, text);
}
.menu-link {
  font-size: 16px;
  padding: 12px 0 12px 30px;
  display: block;
  color: mat-color($QAdmin-theme, text);
  text-decoration: none;
}
.menu-sublink {
  padding-left: 40px;
}
.menu-link.active {
  background-color: lighten($nav-menu-background, 5%);
}
.menu-link:hover {
  background-color: lighten($nav-menu-background, 10%);
}
.logo-q {
  color: mat-color($QAdmin-primary, text);
}
.top-panel {
  height: 75px;
  // border-bottom: solid 1px rgba(255, 255, 255, 0.12);
}
.current-user-box {
  width: 200px;
  float: right;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 15px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.profile-menu {
  margin-top: 20px;
  display: none;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1000000;
}
.profile-menu.visible {
  display: block;
  position: relative;
  z-index: 1000;
}

.profile-menu app-link {
  z-index: 1000;
}

.profile-menu app-link span {
  z-index: 1000;
  display: block;
  padding: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  position: relative;
}
