<div class="mat-typography app-frame mat-app-background">
  <section class="login-form">
    <mat-card class="example-card">
      <mat-card-title>
        <h1>Sign in!</h1>
      </mat-card-title>
      <mat-card-content>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Usernames</mat-label>
            <label>
              <input matInput [(ngModel)]="username">
            </label>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <label>
              <input type="password" matInput [(ngModel)]="password">
            </label>
          </mat-form-field>
        </div>
        <div class="button-container">
          <button mat-raised-button color="basic">Forgot your password?</button>
          <button mat-raised-button color="primary" (click)="login()">Login</button>
        </div>
      </mat-card-content>
      <mat-card-footer></mat-card-footer>
    </mat-card>
  </section>
</div>
