@page "/apps/picc/terminal-tool"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<MudText Typo="Typo.h4">Terminal tool</MudText>

<MudPaper Class="pa-4 mt-8">
    <MudText Class="my-2" Typo="Typo.body1">Download qweree tool here: <a href="@Configuration["CdmToolWin"]">win-x64</a>,  <a href="@Configuration["CdmToolLin"]">linux-x64</a>,  <a href="@Configuration["CdmToolOsx"]">osx.10.15-x64</a>.</MudText>
    <MudText Class="my-2" Typo="Typo.body1">Initialize context, authenticate and Picc!!!</MudText>

    <code class="my-4">
        <pre>
    // Initialize global context
    $ qweree context init -g

    // Authenticate yourself
    $ qweree login --username {your-username}

    // Save picc from web
    $ qweree picc -u {url-address}

    // Save picc from directory
    $ qweree picc -d {directory-path}
        </pre>
    </code>
</MudPaper>
