<div class="dashboard-content">
  <div>
    <app-services-overview></app-services-overview>
  </div>
  <mat-card>
    <mat-card-title>
      Qweree
    </mat-card-title>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet est faucibus, cursus ipsum nec, pharetra metus. Integer mauris turpis, pretium vitae risus vitae, tristique pharetra diam. Maecenas diam nunc, elementum sed pellentesque vel, ultricies quis mauris. Nullam id turpis tempus arcu mollis lobortis vitae id nibh. Nullam eu mi congue, pretium diam nec, efficitur neque. Vivamus vel ipsum ac ipsum pharetra lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      </p>
      <p>
        Vestibulum posuere eros magna, eget lobortis eros ornare vel. Integer ut purus elit. Aenean porttitor convallis placerat. Praesent convallis laoreet nisl a aliquet. Nulla facilisis neque felis, ac lacinia odio vulputate sit amet. Duis quis consectetur risus. Pellentesque lacinia ipsum non erat semper vehicula. Maecenas posuere vestibulum lectus, vitae facilisis diam pretium ac. Nulla mattis nisl at diam eleifend tristique. Nunc vel libero felis. Pellentesque sit amet nisl auctor eros cursus sodales vel a mi. Quisque lacinia blandit sem. In sollicitudin, lectus non ornare vehicula, tortor magna posuere magna, non malesuada massa est vel dolor. Duis rhoncus tortor nunc, at lacinia enim porttitor id. Aenean vitae volutpat enim, nec posuere est. Nulla facilisi.
      </p>
      <p>
        Fusce rhoncus mi libero, ut bibendum ante vehicula vulputate. Fusce lacinia, est vitae scelerisque eleifend, urna diam finibus arcu, vel rhoncus justo massa quis lacus. Nam ornare orci ligula. Curabitur ultrices ipsum eu volutpat sodales. Ut metus felis, feugiat sit amet malesuada sed, egestas vitae felis. Proin nec suscipit eros. Praesent ac luctus tellus. Maecenas porttitor quam non risus maximus sollicitudin. Nam cursus nulla at aliquet elementum. Suspendisse feugiat feugiat augue, nec interdum ligula aliquet sit amet. In dignissim, nunc nec suscipit lacinia, justo mauris faucibus purus, in vulputate eros magna eget tellus. Donec dictum aliquet porttitor. Aenean rutrum mi volutpat ligula auctor, non condimentum tellus rutrum.
      </p>
      <p>
        Duis faucibus, lorem ut sagittis pellentesque, turpis metus cursus orci, nec accumsan ante lacus eu massa. Ut vestibulum accumsan eros, vitae pharetra felis blandit in. Integer maximus ante eu tellus commodo tempor. Duis laoreet sagittis lacus, nec pharetra dui congue tristique. Nam luctus accumsan mauris sed molestie. Aliquam erat volutpat. Pellentesque vulputate sit amet ante et imperdiet. Quisque sit amet iaculis justo, nec placerat mi. Mauris sodales sem eu nisi lobortis hendrerit. Curabitur ut purus placerat, tristique lacus id, volutpat leo. Ut id ligula nec lectus fringilla vestibulum. Nunc blandit lobortis massa, quis gravida orci maximus ut.
      </p>
      <p>
        Nunc posuere nisl et neque hendrerit varius. Nunc lobortis vestibulum odio. Aenean maximus semper velit ut blandit. Sed et nulla in justo faucibus mollis ut id sapien. Curabitur non elit eget ligula fermentum viverra. Pellentesque euismod turpis eget mollis porttitor. Nulla vitae congue sapien. Proin vel mauris ac ligula eleifend lacinia. Nunc sagittis risus est, vitae pharetra justo ultricies ut. Curabitur sit amet libero mi. Donec porta scelerisque enim id aliquam.
      </p>
    </mat-card-content>
    <mat-card-footer>
      Lorem ipsum dolor sit amet.
    </mat-card-footer>
  </mat-card>
</div>
