.login-form {
  width: 420px;
  margin: 80px auto;
  padding: 20px 50px;
}

.login-form .mat-form-field {
  width: 100%;
}

.login-form .button-container {
  text-align: right;
}

.login-form .button-container button {
  display: inline-block;
  margin-left: 15px;
}
