<div class="path-explorer">
  <div class="path-explorer-item directory path-explorer-item-header">
    <span class="path-explorer-item-icon">
    </span>
    <span (click)="sortBy('filename')" class="object-path">
        Filename
      <span class="material-icons" *ngIf="orderField == 'filename'">
        <span *ngIf="orderDir == -1">keyboard_arrow_down</span>
        <span *ngIf="orderDir == 1">keyboard_arrow_up</span>
      </span>
    </span>
    <span (click)="sortBy('mediaType')" class="object-item-count">
        Media type
      <span class="material-icons" *ngIf="orderField == 'mediaType'">
        <span *ngIf="orderDir == -1">keyboard_arrow_down</span>
        <span *ngIf="orderDir == 1">keyboard_arrow_up</span>
      </span>
    </span>
    <span (click)="sortBy('size')" class="object-item-size">
        Size
      <span class="material-icons" *ngIf="orderField == 'size'">
        <span *ngIf="orderDir == -1">keyboard_arrow_down</span>
        <span *ngIf="orderDir == 1">keyboard_arrow_up</span>
      </span>
    </span>
    <span (click)="sortBy('modifiedAt')" class="object-item-modified-at">
      Last modification time
      <span class="material-icons" *ngIf="orderField == 'modifiedAt'">
        <span *ngIf="orderDir == -1">keyboard_arrow_down</span>
        <span *ngIf="orderDir == 1">keyboard_arrow_up</span>
      </span>
    </span>
  </div>
  <app-link (click)="linkClick($event)" *ngIf="this.path !== '/' && this.path !== ''" href="{{getExplorerHref(prevPath)}}">
    <div class="path-explorer-item">
      <span class="material-icons">
        folder
      </span>
      <span class="object-path">
        <span  matTooltip="{{ this.prevPath }}">../</span>
      </span>
    </div>
  </app-link>
  <app-link (click)="linkClick($event)" href="{{getExplorerHref(this.path)}}">
    <div class="path-explorer-item">
      <span class="material-icons">
        folder
      </span>
      <span class="object-path">
        <span  matTooltip="{{ this.path }}">./</span>
      </span>
      <span class="object-item-count">
        <span matTooltip="Items recursively: {{ thisFolder.totalCount }}">{{ thisFolder.itemsInView }} items</span>
      </span>
      <span class="object-item-size">
        <span matTooltip="{{ thisFolder.totalSize }} B">{{ thisFolder.totalSize | bytes }}</span>
      </span>
    </div>
  </app-link>
  <app-link (click)="linkClick($event)" *ngFor="let directory of this.directoriesView" href="{{getExplorerHref(directory.path)}}">
    <div class="path-explorer-item directory">
      <span class="material-icons">
        folder
      </span>
      <span class="object-path">
        <span  matTooltip="{{ directory.path }}">{{ directory.path | filename  }}</span>
      </span>
      <span class="object-item-count">
        {{ directory.totalCount }} items
      </span>
      <span class="object-item-size">
        <span  matTooltip="{{ directory.totalSize }} B">{{ directory.totalSize | bytes }}</span>
      </span>
      <span class="object-item-modified-at">
        <span matTooltip="Creation time: {{ directory.createdAt | date:'d/M/y HH:mm:ss' }}">{{ directory.modifiedAt | date:'d/M/y HH:mm:ss' }}</span>
      </span>
    </div>
  </app-link>
  <a (click)="linkClick($event)" *ngFor="let file of this.filesView"
     [href]="getHref(file.path)">
    <div class="path-explorer-item file">
      <span class="material-icons">
        {{ file.mediaType | fileIcon}}
      </span>
      <span class="object-path">
        <span  matTooltip="{{ file.path }}">{{ file.filename }}</span>
      </span>
      <span class="object-item-count">
        <span matTooltip="{{ file.mediaType }}">{{ file.mediaType | mediaType }}</span>
      </span>
      <span class="object-item-size">
        <span  matTooltip="{{ file.size }} B">{{ file.size | bytes }}</span>
      </span>
      <span class="object-item-modified-at">
        <span matTooltip="Creation time: {{ file.createdAt | date:'d/M/y HH:mm:ss' }}">{{ file.modifiedAt | date:'d/M/y HH:mm:ss' }}</span>
      </span>
    </div>
  </a>
</div>
