$nav-menu-background: #343434;

.path-explorer {
  font-size: 16px;
}
.path-explorer-item {
  padding: 12px 0 12px 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  color: white;
  text-decoration: none;
}
.path-explorer-item:hover {
  background-color: lighten($nav-menu-background, 10%);
}
.path-explorer-item-header:hover {
  background-color: #424242;
}
.path-explorer-item-icon {
  display: inline-block;
  width: 24px;
  margin: 0 10px;
}
.material-icons {
  display: inline-block;
  margin: 0 10px;
}
.object-path {
  display: inline-block;
  width: 400px;
  margin: 0 10px;
}
.object-item-count {
  display: inline-block;
  width: 80px;
  margin: 0 10px;
}
.object-total-size, .object-item-size {
  display: inline-block;
  width: 100px;
  margin: 0 10px;
}
.object-total-modified-at {
  display: inline-block;
  width: 120px;
  margin: 0 10px;
}
