@using Qweree.Authentication.AdminSdk.Authorization
@using Qweree.Authentication.AdminSdk.Authorization.Roles
@inject AuthorizationClient AuthorizationClient;

<div>
    <MudAutocomplete T="UserRole" Label="Search role" @bind-Text="_searchText"
                     SearchFunc="@Search" ToStringFunc="@(r => $"{r?.Label} ({r?.Key})")"
                     ValueChanged="SelectValueChanged"
                     Value="_selectValue"
                     @onfocus="OnFocus">
    </MudAutocomplete>
    <MudButton OnClick="SelectAll" Size="Size.Small">Add all roles</MudButton>
    <MudButton OnClick="ClearRoles" Size="Size.Small">Clear</MudButton>
</div>
<div class="mt-6">
    @foreach (var selectedRole in SelectedRoles)
    {
        <MudChip Color="Color.Default" OnClose="() => RoleRemoved(selectedRole)">@($"{selectedRole.Label} ({selectedRole.Key})")</MudChip>
        @foreach (var effectiveRole in selectedRole.EffectiveRoles?.Where(r => r.Id != selectedRole.Id) ?? Array.Empty<Role>())
        {
            <MudChip Color="Color.Dark">@($"{effectiveRole.Label} ({effectiveRole.Key})")</MudChip>
        }
    }
</div>

@code {
    private readonly List<UserRole> _userRoles = new();
    private UserRole? _selectValue;
    private string _searchText = string.Empty;

    [Parameter]
    public List<UserRole> SelectedRoles { get; set; } = new();

    [Parameter]
    public bool ExcludeGroupRoles { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        var response = await AuthorizationClient.UserRolesFindAsync();

        if (!response.IsSuccessful)
            return;

        var roles = await response.ReadPayloadAsync() ?? Array.Empty<UserRole>();
        if (ExcludeGroupRoles)
            roles = roles.Where(r => !(r.IsGroup ?? true));

        _userRoles.AddRange(roles.OrderBy(r => r.Key));
    }

    private Task<IEnumerable<UserRole>> Search(string? arg)
    {
        var roles = _userRoles.Where(r => SearchRole(r, arg));
        return Task.FromResult(roles);
    }

    private bool SearchRole(UserRole role, string? searchArg)
    {
        if (SelectedRoles.Contains(role))
            return false;

        return (role.Label?.ToLower() ?? string.Empty).IndexOf(searchArg ?? string.Empty, StringComparison.Ordinal) >= 0 ||
               (role.Key?.ToLower() ?? string.Empty).IndexOf(searchArg ?? string.Empty, StringComparison.Ordinal) >= 0;
    }

    private void SelectValueChanged(UserRole role)
    {
        SelectedRoles.Add(role);
        _selectValue = null;
    }

    private void RoleRemoved(UserRole selectedRole)
    {
        SelectedRoles.Remove(selectedRole);
    }

    private void OnFocus()
    {
        _selectValue = null;
    }

    private void ClearRoles()
    {
        SelectedRoles.Clear();
    }

    private void SelectAll()
    {
        SelectedRoles.Clear();
        SelectedRoles.AddRange(_userRoles);
    }

}