@inject IJSRuntime JsRuntime

<span title="@Id?.ToString()" @onclick="CopyIdAsync" style="cursor: pointer;">
    @Id?.ToString()[..8]
</span>

@code {
    [Parameter]
    public Guid? Id { get; set; }

    private async Task CopyIdAsync()
    {
        if (Id is null)
            return;

        try
        {
            await JsRuntime.InvokeVoidAsync("navigator.clipboard.writeText", Id.ToString()!);
        }
        catch (Exception)
        {
            // ignore, couldn't copy link
        }
    }

}