@page "/services/auth/roles/add"
@using Qweree.Authentication.AdminSdk.Authorization.Roles
@using Qweree.Authentication.AdminSdk.Authorization
@using Microsoft.AspNetCore.Authorization
@inject AuthorizationClient AuthorizationClient;
@inject ISnackbar Snackbar;
@inject NavigationManager NavigationManager;
@attribute [Authorize]

<MudCard>
    <MudCardHeader>
        <MudText Typo="Typo.h6">Add role</MudText>
    </MudCardHeader>
    <MudCardContent>
        <ErrorsComponent Errors="_errors" />
        <MudExpansionPanels MultiExpansion="true" Square="true" DisableBorders="false" Elevation="0">
            <MudExpansionPanel Text="Role info" IsInitiallyExpanded="true" Class="mt-0" Style="margin: 0 !important;">
                <MudTextField T="string" Variant="Variant.Outlined" Label="Id" @bind-Value="_idString" />
                <MudGrid>
                    <MudItem xs="6">
                        <MudTextField T="string" Variant="Variant.Outlined" Label="Label" @bind-Value="_label" />
                    </MudItem>
                    <MudItem xs="6">
                        <MudTextField T="string" Variant="Variant.Outlined" Label="Key" @bind-Value="_key" />
                    </MudItem>
                </MudGrid>
                <MudTextField T="string" Lines="3" Variant="Variant.Outlined" Label="Description" @bind-Value="_description" />
            </MudExpansionPanel>
            <MudExpansionPanel Text="Group role" Class="mt-0" Style="margin: 0 !important;">
                <RoleSelectComponent SelectedRoles="_groupRoles" />
            </MudExpansionPanel>
        </MudExpansionPanels>
        <div style="text-align: right;" class="mt-4">
            <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="CreateRoleAsync">Create role</MudButton>
        </div>
    </MudCardContent>
</MudCard>

@code {
    private readonly List<string> _errors = new();

    private readonly List<Role> _groupRoles = new();
    private string _idString = Guid.NewGuid().ToString();
    private string _key = string.Empty;
    private string _label = string.Empty;
    private string _description = string.Empty;


    private async Task CreateRoleAsync()
    {
        _errors.Clear();
        var input = new RoleCreateInput
        {
            Id = Guid.Parse(_idString),
            Description = _description,
            IsGroup = _groupRoles.Any(),
            Items = _groupRoles.Select(r => r.Id).OfType<Guid>().ToArray(),
            Key = _key,
            Label = _label
        };

        var response = await AuthorizationClient.RoleCreateAsync(input);

        if (!response.IsSuccessful)
        {
            var errors = await response.ReadErrorsAsync();
            _errors.AddRange(errors.Errors?.Select(e => e.Message ?? "") ?? Array.Empty<string>());
            return;
        }

        Snackbar.Add($"Role {_label} ({_key}) was successfully created.", Severity.Success);
        NavigationManager.NavigateTo("/services/auth/roles/list");
    }

}