<div class="dashboard-content">
  <mat-card>
    <mat-card-title>
      Storage explorer
    </mat-card-title>
    <mat-card-content>
      <div class="current-path">
        <label>
          <input
            autofocus="autofocus"
            [(ngModel)]="inputPath"
            (keyup.enter)="this.router.navigate(['/cdn/explorer/' + inputPath])"
            (blur)="inputPath = path">
        </label>
      </div>
      <app-path-explorer
        [filesObservable]="currentFilesObservable"
        [directoriesObservable]="currentDirectoriesObservable"
        [path]="path"
        url="/cdn/explorer"
        [cdnBaseUrl]="getCdnBaseUrl()">
      </app-path-explorer>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>
