<div class="dashboard-content">
  <mat-card>
    <mat-card-title>
      Storage explorer
    </mat-card-title>
    <mat-card-content>
      <div class="current-path">
        <label>
          <input [(ngModel)]="inputPath" (blur)="resetInput()" (keyup.enter)="goto()">
        </label>
      </div>
      <app-path-explorer path="{{ currentPath }}" (pathChanged)="pathChanged($event)">
      </app-path-explorer>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>
