<div class="dashboard-content">
  <mat-card>
    <mat-card-title>
      Storage import
    </mat-card-title>
    <mat-card-content>
      <div class="input-form">
        <div class="path-input">
          <label>
            <input [(ngModel)]="path" placeholder="path">
          </label>
        </div>
        <div class="file-input">
          <label>
            <ngx-file-drop dropZoneClassName="drop__zone" contentClassName="drop__content" dropZoneLabel="Drop files here" (onFileDrop)="filesSelected($event)">
              <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                Browse files
              </ng-template>
            </ngx-file-drop>
          </label>
        </div>
      </div>
      <div class="input-review">
        <div *ngFor="let file of filesView">{{ file.path }}</div>
      </div>
      <div class="confirm" *ngIf="filesView.length !== 0">
        <button mat-raised-button color="primary" (click)="uploadFiles()">Upload</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
