.explorer-file {
  margin: 1em 0;
  cursor: pointer;
}
.explorer-file div {
  display: inline-block;
  margin: 0 1em;
}

.explorer-file-icon {
  margin-right: 0 !important;
}
.explorer-file-path {
  width: 400px;
}
.explorer-file-media-type {
  width: 120px;
}
.explorer-file-size {
  width: 80px;
}