@using Qweree.Cdn.Sdk.Explorer
<div class="explorer-file">
    <div class="explorer-file-path">@Item!.Label</div>
    <div>@Item.MediaType</div>
    <div><BinarySizeComponent Bytes="Item.Size" /></div>
    <div>@Item.ModifiedAt</div>
</div>

@code {

    public record ExplorerFile(string Label, string MediaType, long Size, DateTime CreatedAt, DateTime ModifiedAt);

    [Parameter]
    public ExplorerFile? Item { get; set; }

}