@using Qweree.Cdn.Sdk.Explorer
@inject NavigationManager _navigationManager;

<div class="explorer-directory" @onclick="() => OnClick.InvokeAsync()">
    <div class="explorer-directory-icon"><MudIcon Icon="@Icons.Filled.Folder" Size="Size.Small"></MudIcon></div>
    <div class="explorer-directory-item explorer-directory-path">@Item!.Label</div>

    @if (Item.TotalCount != null)
    {
        <div class="explorer-directory-total-count">@Item.TotalCount <PluralityComponent Value="Item.TotalCount ?? 0" Singular="item" Plural="items" /></div>
    }
    @if (Item.TotalSize != null)
    {
        <div class="explorer-directory-total-size"><BinarySizeComponent Bytes="Item.TotalSize ?? 0" /></div>
    }
    @if (Item.ModifiedAt != null)
    {
        <div class="explorer-directory-modified-at">@Item.ModifiedAt</div>
    }
</div>

@code {

    public record ExplorerDirectory(string Label, long? TotalCount, long? TotalSize, DateTime? CreatedAt, DateTime? ModifiedAt);

    [Parameter]
    public ExplorerDirectory? Item { get; set; }
    [Parameter]
    public EventCallback OnClick { get; set; }

}