@using Qweree.Cdn.Sdk.Explorer

@inject NavigationManager _navigationManager;

<div class="explorer-directory" @onclick="() => OnClick.InvokeAsync()">
    <div class="explorer-directory-path">@Item!.Label</div>
    <div class="explorer-directory-total-count">@Item.TotalCount <PluralityComponent Value="Item.TotalCount" Singular="item" Plural="items" /></div>
    <div class="explorer-directory-total-size"><BinarySizeComponent Bytes="Item.TotalSize" /></div>
    <div class="explorer-directory-modified-at">@Item.ModifiedAt</div>
</div>

@code {

    public record ExplorerDirectory(string Label, long TotalCount, long TotalSize, DateTime CreatedAt, DateTime ModifiedAt);

    [Parameter]
    public ExplorerDirectory? Item { get; set; }
    [Parameter]
    public EventCallback OnClick { get; set; }

}