.explorer-directory {
  margin: 1em 0;
  cursor: pointer;
}
.explorer-directory div {
  display: inline-block;
  margin: 0 1em;
}

.explorer-directory-icon {
  margin-right: 0 !important;
}
.explorer-directory-path {
  width: 400px;
}
.explorer-directory-total-count {
  width: 120px;
}
.explorer-directory-total-size {
  width: 80px;
}