@using Qweree.Cdn.Sdk.Explorer
@inject NavigationManager NavigationManager;

<div class="explorer-directory" @onclick="() => OnClick.InvokeAsync()">
    <div class="explorer-directory-icon"><MudIcon Icon="@Icons.Material.Filled.Folder" Size="Size.Small"></MudIcon></div>
    <div class="explorer-directory-item explorer-directory-path">@Item!.Label</div>

    <div class="explorer-directory-total-count">
        @if (Item.TotalCount != null)
        {
            @Item.TotalCount <PluralityComponent Value="(int)(Item.TotalCount ?? 0)" Singular="item" Plural="items"/>
        }
    </div>

    <div class="explorer-directory-total-size">
    @if (Item.TotalSize != null)
        {
            <BinarySizeComponent Bytes="Item.TotalSize ?? 0"/>
        }
    </div>
    <div class="explorer-directory-modified-at">
        @if (Item.ModifiedAt != null)
        {
            @Item.ModifiedAt
        }
    </div>
</div>

@code {

    public record ExplorerDirectory(string Label, long? TotalCount, long? TotalSize, DateTime? CreatedAt, DateTime? ModifiedAt);

    [Parameter]
    public ExplorerDirectory? Item { get; set; }
    [Parameter]
    public EventCallback OnClick { get; set; }

}