@using Qweree.Cdn.Sdk.Explorer

<div class="explorer-file" @onclick="() => OnClick.InvokeAsync()">
    <div class="explorer-file-icon"><MudIcon Icon="@Icons.Material.Filled.InsertDriveFile" /></div>
    <div class="explorer-file-path">@Item!.Label</div>
    <div class="explorer-file-media-type">@Item.MediaType[(Item.MediaType.LastIndexOf("/", StringComparison.Ordinal) + 1)..]</div>
    <div class="explorer-file-size"><BinarySizeComponent Bytes="Item.Size"/></div>
    <div class="explorer-file-modified-at">@Item.ModifiedAt</div>
</div>

@code {

    // ReSharper disable once NotAccessedPositionalProperty.Global
    public record ExplorerFile(string Label, string MediaType, long Size, DateTime CreatedAt, DateTime ModifiedAt);

    [Parameter]
    public ExplorerFile? Item { get; set; }
    [Parameter]
    public EventCallback OnClick { get; set; }

}