@using Qweree.Cdn.Sdk.Explorer
<div class="explorer-file">
    <div class="explorer-file-path">@Item.Path</div>
    <div>@Item.MediaType</div>
    <div><BinarySizeComponent Bytes="Item.Size ?? 0" /></div>
    <div>@Item.ModifiedAt</div>
</div>

@code {

    [Parameter]
    public ExplorerFileDto Item { get; set; } = new();

}