@using Qweree.WebApplication.Infrastructure.Authentication
@inherits LayoutComponentBase
@inject ClaimsPrincipalStorage _session
@inject AuthenticationService _authenticationService
@inject NavigationManager _navigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <span>@_username</span>
                <NavLink href="#" @onclick="LogoutAsync">Logout</NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink href="/login">Login</NavLink>
            </NotAuthorized>
        </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private string _username = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var user = await _session.GetUserAsync();
        _username = user?.FullName ?? string.Empty;
    }

    private async Task LogoutAsync()
    {
        await _authenticationService.LogoutAsync();
        _navigationManager.NavigateTo("/", true);
    }

}