@using Qweree.WebApplication.Infrastructure.Authentication
@inherits LayoutComponentBase
@inject ClaimsPrincipalStorage _session
@inject AuthenticationService _authenticationService
@inject NavigationManager _navigationManager

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="DrawerToggle" />
        <MudText Typo="Typo.h5" Class="ml-3">Qweree</MudText>
        <MudSpacer />
        <AuthorizeView>
            <Authorized>
                <MudText>
                    <span class="top-user-panel">@_username</span>
                    <span class="top-user-panel"><a href="#" @onclick="LogoutAsync">Logout</a></span>
                </MudText>
            </Authorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
@code {
    private string _username = string.Empty;
    bool _drawerOpen = true;

    protected override async Task OnInitializedAsync()
    {
        var user = await _session.GetUserAsync();
        _username = user?.FullName ?? string.Empty;
    }

    private async Task LogoutAsync()
    {
        await _authenticationService.LogoutAsync();
        _navigationManager.NavigateTo("/", true);
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}