@using Qweree.WebApplication.Infrastructure.Authentication
@inherits LayoutComponentBase
@inject ClaimsPrincipalStorage _session
@inject AuthenticationService _authenticationService
@inject NavigationManager _navigationManager

<MudThemeProvider Theme="_darkTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="DrawerToggle" />
        <MudText Typo="Typo.h5" Class="ml-3">Qweree</MudText>
        <MudSpacer />
        <AuthorizeView>
            <Authorized>
                <MudText>
                    <span class="top-user-panel">@_username</span>
                    <span class="top-user-panel"><a href="#" @onclick="LogoutAsync">Logout</a></span>
                </MudText>
            </Authorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
@code {
    private string _username = string.Empty;
    bool _drawerOpen = true;
    private readonly MudTheme _darkTheme = new()
    {
        Palette = new Palette
        {
            Black = "#27272f",
            Background = "#32333d",
            BackgroundGrey = "#27272f",
            Surface = "#373740",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            DrawerIcon = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            Divider = "rgba(255,255,255, 0.12)",
            DividerLight = "rgba(255,255,255, 0.06)",
            TableLines = "rgba(255,255,255, 0.12)",
            LinesDefault = "rgba(255,255,255, 0.12)",
            LinesInputs = "rgba(255,255,255, 0.3)",
            TextDisabled = "rgba(255,255,255, 0.2)"
        }
    };

    protected override async Task OnInitializedAsync()
    {
        var user = await _session.GetUserAsync();
        _username = user?.FullName ?? string.Empty;
    }

    private async Task LogoutAsync()
    {
        await _authenticationService.LogoutAsync();
        _navigationManager.NavigateTo("/", true);
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}